<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>House</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
      crossorigin="anonymous"
    />
    <script>
      var jsonfile ={{jsonfile}};
    </script>
  </head>
  <body>
<!--    <div class="container">-->
<!--&lt;!&ndash;      <img class="img-responsive" src="../../data/optimization_results/images/CMA-ES__tau_0.009__length_limits_[0, 0.01]__iterations_2__seed_42__frequency_6000__sphere_radius_0.025.png"/>&ndash;&gt;-->
<!--&lt;!&ndash;    {{jsonfile}}&ndash;&gt;-->
<!--  </div>-->
    <div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th scope="col">#</th>
        <th scope="col"> 111<img width=50% class="img-responsive" src="../../data/optimization_results/images/CMA-ES__tau_0.009__length_limits_[0, 0.01]__iterations_2__seed_42__frequency_6000__sphere_radius_0.025.png"/></th>
        <th scope="col"> 222<img width=50% class="img-responsive" src="../../data/optimization_results/images/CMA-ES__tau_0.009__length_limits_[0, 0.01]__iterations_2__seed_42__frequency_6000__sphere_radius_0.025.png"/></th>
        <th scope="col"> 333<img width=50% class="img-responsive" src="../../data/optimization_results/images/CMA-ES__tau_0.009__length_limits_[0, 0.01]__iterations_2__seed_42__frequency_6000__sphere_radius_0.025.png"/></th>
      </tr>
    </tbody>
  </table>
</div>
  </body>
</html>
